<% provide(:title, "Create New Group") %>

<div class="row">
  <div class="span6 offset3">
      <%= form_for @group do |f|  %>
      <%= render  partial: 'shared/error_messages', locals: {object: @group} %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit "Create Group", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
