<% provide(:title, "Sign-in") %>
<h1>Sign-in</h1>

<%= form_tag user_sessions_path do %>
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div><%= submit_tag "Sign in", class: "btn btn-large btn-primary"  %></div>
<% end %>

<p>New User? <%= link_to "Sign up!", signup_path  %></p>
